header {
  background-color: black;
  color: white;
  height: 100px;

}

main {
  background-color: lightgray;
}

footer {

  background-color: black;
  color: white;
  height: 100px;

}

.description {
  font-size: 1.2rem;
}