* {
  font-style: italic;

}

header {
  background-color: black;
  color: white;
  height: 170px;
  display: flex;
  justify-content: center;
  align-items: center;

}

.row {
  justify-content: space-around;
}

.card-body {

  color: white;
}

footer {

  background-color: black;
  color: white;
  height: 170px;

  a {
    color: white;
    text-decoration: none;
  }

  li {
    list-style: none;
  }

  h3 {
    color: red;
  }

}


.description {
  font-size: 1.2rem;
}

.click-me {
  color: black;
  font-weight: 700;
}

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 200px;
}